[Unit]
Description=Diun
Documentation=https://crazymax.dev/diun/
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
ExecStart=/usr/local/bin/diun serve --config /opt/diun/diun.yml --log-level info
Restart=always
Environment=TZ=Europe/Berlin
Environment=DIUN_DB_PATH=/opt/diun/diun.db

[Install]
WantedBy=multi-user.target
