[Unit]
Description=Diun
Documentation=https://crazymax.dev/diun/
After=syslog.target
After=network.target

[Service]
EnvironmentFile=$DIUN_ROOT/config/diun.env
RestartSec=2s
Type=simple
WorkingDirectory=$DIUN_ROOT
ExecStart=/usr/local/bin/diun serve
Restart=always

[Install]
WantedBy=multi-user.target
